<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Create your Blog</h1>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <label for="">Title</label>
        <input type="text" name="title">
        <br><br>

        <label for="">Content</label>
        <textarea name="content"></textarea>
        <br><br>

        <label for="">Year</label>
        <input type="text" name="year">
        <br><br>

        <label for="">Image</label>
        <input type="file" name="image">

        <input type="submit">

    </form>

</body>
</html>